* {
    margin: 0;
    padding: 0;
}
.containerImages{
    width:544px;
    height:544px;
    border-radius: 50%;
}
html {
    height: 100vh
}
body {
    margin: 0;
    min-height: 100vh;
}

#gameScreen {
    position: relative;
    height: 100vh;
}

#gameScreen::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #218380;
}

#gameScreen::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #8f2d56;
}

.divider {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 20px;
    background-color: white;
    z-index: 1;
    transform: translateX(-50%);
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.circle h1 {
    font-size: 120px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.songInfo {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 10px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
}

.songName, .popularityScore {
    color: #a88532;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}
.songArtist {
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}

.songNameLeft, .songArtistLeft, .popularityScoreLeft {
    text-align: left;
    width: 50%;
    overflow: hidden;
}

.songNameRight, .songArtistRight, .popularityScoreRight {
    text-align: right;
    width: 50%;
    overflow: hidden;
}

.popularityScore {
    display: none;
    
}

.gameQuestion {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
    z-index: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.gameQuestion h2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

/* Brighten and dim effect for the entire side */
/* .leftHover:hover {
    background-color: rgba(255, 255, 255, 0.2);
    filter: brightness(1.2);
}

.rightHover:hover {
    background-color: rgba(255, 255, 255, 0.2);
    filter: brightness(1.2);
}


.leftHover, .rightHover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 1;
}

.leftHover {
    left: 0;
}

.rightHover {
    right: 0;
} */

.albumCovers {
    position: absolute;
    width: 375px;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: 5px solid white;
    border-radius: 50%;
     /* Ensure transition for smooth rotation */
     transition: transform 0.3s ease-in-out;
}

@-webkit-keyframes rotate {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

/* .leftHover:hover ~ .containerImages .leftImg,
.rightHover:hover ~ .containerImages .rightImg, */
.leftImg:hover,
.rightImg:hover {
    animation: rotate 3s linear infinite;
}

.leftImg {
    left: 10%;
}

.rightImg {
    right: 10%;
}

.scores {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;

}

.highScore, .currentScore {
    border: 2px solid black;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #f0f0f0;

}

.highScore {
    margin-left: 10px;
}

.currentScore {
    margin-right: 10px;
    z-index: 2;
    
}
