<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Guessing Game - Hit or Miss</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed:wght@300&family=Roboto+Slab&family=Roboto:wght@100;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/gameStyle.css">
    <script src="../static/scripts/game.js"></script>

</head>
<body>
    <div id="gameScreen">
        <div class="elements">
           <div class="containerAlbum">
                <div class="containerImages leftSide">
                    <audio id="leftAudio" src=""></audio>
                    <img class="albumCovers leftImg" id="leftAlbumCover" src="">
                </div>
                <div class="containerImages rightSide">
                    <audio id="rightAudio" src=""></audio>
                    <img class="albumCovers rightImg" id="rightAlbumCover" src="">
                </div>
            </div>

            <div class="songInfo">
                <div class="songName">
                    <h1 class="songNameLeft" id="songNameLeft">Song Name1</h1>
                    <h1 class="songNameRight" id="songNameRight">Song Name2</h1>
                </div>
                <div class="songArtist">
                    <h2 class="songArtistLeft" id="songArtistLeft">Song Artist1</h2>
                    <h2 class="songArtistRight" id="songArtistRight">Song Artist2</h2>
                </div>
                <div class="popularityScore">
                    <h1 class="popularityScoreLeft">Popularity Score: <span id="popularityScoreLeft">0</span></h1>
                    <h1 class="popularityScoreRight">Popularity Score: <span id="popularityScoreRight">0</span></h1>
                </div>
            </div>

            <div class="gameQuestion">
                <h2>Which is more "Popular"?</h2>
            </div>

            <div class="scores">
                <div class="highScore">
                    <h2>High Score: <span id="high-score">0</span></h2>
                </div>
                <div class="currentScore">
                    <h2>Current Score: <span id="current-score">0</span></h2>
                </div>
            </div>

            <div class="divider"></div>
            <div class="circle">
                <h1><span id="levelCounter">1</span></h1>
            </div>

            <div class="gameNote">
                <h2>NOTE: Popularity Score is based off the total number of plays and how recent those plays are.</h2>
                <div class="fightSongs">
                    <input type="checkbox" class="fightSongs" id="fightSongs">
                </div>
            </div>

        </div>
    </div>
</body>
</html>
